### Data Could be Interesting on Account of Seasonal Trends?
#### Might not be worth the work of decoding the col names
# Non_Bus_Travel is good to go and highly informative

I think...

In [143]:
import pandas as pd

In [ ]:
# Data Source
# https://www.fhwa.dot.gov/policyinformation/tables/trafficmonitoring/

In [135]:
aug_laye = pd.read_csv("TMAS2015_august_laye.txt",
                       header=None,
                       names=[
                           'id',
                           'big_neg_int',
                           'lrs_location_point',
                           'big_neg_float',
                           'trailing_float',
                           'state_code',
                           'id2',
                           'one_d',
                           'one_d2',
                           'small_int2',
                           'an_code',
                           'latitude',
                           'longitude',
                           'small_float',
                           'a_code',
                           'small_float2',
                           'small_float3',
                           'zero',
                           'small_int3',
                           'lt1_float',
                           'small_int4',
                           'On NHS'
                       ]
                    )
print(aug_laye.shape)
aug_laye.head()

(7429, 22)

,id,big_neg_int,lrs_location_point,big_neg_float,trailing_float,state_code,id2,one_d,one_d2,small_int2,...,longitude,small_float,a_code,small_float2,small_float3,zero,small_int3,lt1_float,small_int4,On NHS
0,3327,-159393066,21968091,-159.3931,21.9681,15,50015,2,1,13,...,-159.3931,2,WIM,2,2,2,12,0.0,7,Y
1,5596,-159413420,22209603,-159.4134,22.2096,15,300,4,1,13,...,-159.4134,1,VOL,1,0,0,82,0.0,7,Y
2,5317,-156689245,20912993,-156.6892,20.9130,15,400,4,1,13,...,-156.6892,2,VOL,2,0,0,82,0.0,9,Y
3,1915,-156502590,20923490,-156.5026,20.9235,15,340005,4,1,13,...,-156.5026,1,CLS,1,1,0,12,0.0,9,Y
4,3612,-156445237,20741847,-156.4452,20.7418,15,31069,1,1,13,...,-156.4452,2,CLS,2,2,0,12,0.0,9,Y

In [136]:
aug_laye.describe()

,id,big_neg_int,lrs_location_point,big_neg_float,trailing_float,state_code,one_d,one_d2,small_int2,latitude,longitude,small_float,small_float2,small_float3,zero,small_int3,lt1_float
count,7429.000000,7.429000e+03,7.429000e+03,7429.000000,7429.000000,7429.000000,7429.000000,7429.000000,7429.000000,7429.000000,7429.000000,7429.000000,7429.000000,7429.000000,7429.000000,7429.000000,7318.000000
mean,3737.138107,-9.295666e+07,3.879060e+07,-92.956663,38.790598,30.555526,2.354153,0.618926,13.075111,38.790598,-92.956663,2.046305,2.164087,1.294925,0.429533,50.345269,0.005739
std,2165.793447,1.797792e+07,5.689520e+06,17.977923,5.689520,16.565239,1.888064,0.514488,0.363613,5.689520,17.977923,1.183266,1.214977,1.393056,0.923309,39.669104,0.244038
min,1.000000,-1.617704e+08,1.942348e+07,-161.770400,19.423500,1.000000,0.000000,0.000000,13.000000,19.423500,-161.770400,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1859.000000,-1.050210e+08,3.517867e+07,-105.021000,35.178700,16.000000,1.000000,0.000000,13.000000,35.178700,-105.021000,1.000000,1.000000,0.000000,0.000000,8.000000,0.000000
50%,3729.000000,-8.750244e+07,3.910232e+07,-87.502400,39.102300,33.000000,1.000000,1.000000,13.000000,39.102300,-87.502400,2.000000,2.000000,1.000000,0.000000,61.000000,0.000000
75%,5612.000000,-7.811344e+07,4.205982e+07,-78.113400,42.059800,47.000000,3.000000,1.000000,13.000000,42.059800,-78.113400,2.000000,3.000000,2.000000,0.000000,91.000000,0.000000
max,7501.000000,-6.731003e+07,6.496013e+07,-67.310000,64.960100,56.000000,9.000000,5.000000,15.000000,64.960100,-67.310000,9.000000,9.000000,9.000000,7.000000,99.000000,12.000000

In [137]:
aug_laye.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7429 entries, 0 to 7428
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  7429 non-null   int64
 1   big_neg_int         7429 non-null   int64
 2   lrs_location_point  7429 non-null   int64
 3   big_neg_float       7429 non-null   float64
 4   trailing_float      7429 non-null   float64
 5   state_code          7429 non-null   int64
 6   id2                 7429 non-null   object
 7   one_d               7429 non-null   int64
 8   one_d2              7429 non-null   int64
 9   small_int2          7429 non-null   int64
 10  an_code             7429 non-null   object
 11  latitude            7429 non-null   float64
 12  longitude           7429 non-null   float64
 13  small_float         7429 non-null   int64
 14  a_code              7429 non-null   object
 15  small_float2        7429 non-null   int64
 16  small_float3        7429 non-null   int64
 17  zero                7429 non-null   int64
 18  small_int3          7429 non-null   int64
 19  lt1_float           7318 non-null   float64
 20  small_int4          7356 non-null   object
 21  On NHS              7429 non-null   object
dtypes: float64(5), int64(12), object(5)
memory usage: 1.2+ MB

In [138]:
aug_laye.iloc[1]

id                          5596
big_neg_int           -159413420
lrs_location_point      22209603
big_neg_float          -159.4134
trailing_float           22.2096
state_code                    15
id2                          300
one_d                          4
one_d2                         1
small_int2                    13
an_code                       4R
latitude                 22.2096
longitude              -159.4134
small_float                    1
a_code                       VOL
small_float2                   1
small_float3                   0
zero                           0
small_int3                    82
lt1_float                 0.0000
small_int4                     7
On NHS                         Y
Name: 1, dtype: object

In [139]:
# A is ID since all are unique
aug_laye.iloc[:, 0].nunique() == len(aug_laye.iloc[:, 0])

True

In [124]:
aug_laye.iloc[:, 1].value_counts().nlargest(5)

-77387570     6
-124083293    6
-75058438     5
-77393980     5
-79044440     5
Name: big_neg_int, dtype: int64

In [125]:
# LRS Location Point
# HMMMM Not totally Unique
aug_laye.iloc[:, 2].value_counts().nlargest(5)
# Length is Consistent
for i in aug_laye.iloc[:, 2]:
    assert len(str(i)) == 8
print('All Length of 8.')

All Length of 8.

In [126]:
aug_laye.iloc[:, 3].value_counts().nlargest(5)

-74.4264    7
-77.3876    6
-77.3508    6
-77.3560    6
-75.1020    6
Name: big_neg_float, dtype: int64

In [127]:
# I think these are state codes
# nunique == 44
aug_laye.iloc[:, 6].value_counts().nlargest(5)

8     15
15    15
4     14
2     14
9     14
Name: id2, dtype: int64

In [128]:
# 32. HPMS Sample Type (Column 140) – Critical
# N = No, not on an HPMS standard sample section
# Y = Yes, on an HPMS standard sample section
# Clearly Yes No

# --- ORRRRRRR ---
# 34. National Highway System (Column 153) – Critical
# N = No, not on National Highway System
# Y = Yes, on National Highway System

aug_laye.iloc[:, 21].value_counts()

N    4474
Y    2955
Name: hypm_standard_sample_section, dtype: int64

In [109]:
# LANESOFCLS: Number of Lanes Monitored for Vehicle Class
# LANESOFVOL: Number of Lanes Monitored for Traffic Volume
# no weight records for an hour might be interpreted to mean that 
# ... the WIM system was not working.
aug_laye.iloc[:, 14].value_counts()

CLS    2934
VOL    2931
WIM    1564
Name: a_code, dtype: int64

In [110]:
"""
LONGITUDE : Monitoring site longitude
LATITUDE: Monitoring site latitude
STATE: State FIPS
StationID: Traffic Monitoring Site ID. This ID is state unique.
Dir: Direction of Travel
LN: Lane of Travel
YR: Year of Data
FC: Functional Classification
NUMBERLAN: Number of Lanes in Direction Indicated
TYPE: Sample Type for TMAS
LANESOFVOL: Number of Lanes Monitored for Traffic Volume
LANESOFCLS: Number of Lanes Monitored for Vehicle Class
LANESOFWGT: Number of Lanes Monitored for Truck Weight
YR1: Year Station Established
YEARDISC: Year Station Discontinued
COUNTY: FIPS County Code
HPMS: HPMS Sample Type
"""

'\nLONGITUDE : Monitoring site longitude\nLATITUDE: Monitoring site latitude\nSTATE: State FIPS\nStationID: Traffic Monitoring Site ID. This ID is state unique.\nDir: Direction of Travel\nLN: Lane of Travel\nYR: Year of Data\nFC: Functional Classification\nNUMBERLAN: Number of Lanes in Direction Indicated\nTYPE: Sample Type for TMAS\nLANESOFVOL: Number of Lanes Monitored for Traffic Volume\nLANESOFCLS: Number of Lanes Monitored for Vehicle Class\nLANESOFWGT: Number of Lanes Monitored for Truck Weight\nYR1: Year Station Established\nYEARDISC: Year Station Discontinued\nCOUNTY: FIPS County Code\nHPMS: HPMS Sample Type\n'

In [111]:
cardinality = dict()
for i in range(aug_laye.shape[1]):
    card_i = aug_laye.iloc[:, i].nunique()/len(aug_laye.iloc[:, i])
    cardinality.update({i: card_i})

In [112]:
sorted_card = {k: v for k, v in sorted(cardinality.items(), reverse=False, key=lambda item: item[1])}

In [113]:
sorted_card.keys()

dict_keys([21, 9, 14, 8, 19, 17, 7, 13, 15, 16, 10, 5, 18, 20, 6, 4, 11, 3, 12, 1, 2, 0])

In [114]:
aug_laye.iloc[:, 9].value_counts()

13    7104
15     233
14      92
Name: small_int2, dtype: int64

In [115]:
aug_laye.iloc[:, 8].value_counts()

1    4432
0    2921
2      64
3      11
5       1
Name: one_d2, dtype: int64

In [116]:
# Mostly 0
aug_laye.iloc[:, 19].value_counts()

0.0     7313
11.0       2
1.0        1
12.0       1
7.0        1
Name: lt1_float, dtype: int64

In [117]:
aug_laye.iloc[:, 17].value_counts()

0    5780
2     808
1     562
3     159
4      87
6      15
5      14
7       4
Name: zero?, dtype: int64

In [129]:
# 0-8 
# POSTED ROUTE SIGNING CODES?
# Code Includes 1-10
aug_laye.iloc[:, 7].value_counts()

1    3637
3    2543
5     474
7     265
0     225
9     184
4      52
2      43
8       6
Name: one_d, dtype: int64

In [141]:
aug_laye.iloc[:, 8].value_counts()

1    4432
0    2921
2      64
3      11
5       1
Name: one_d2, dtype: int64

In [ ]:
cardinality = dict()
for i in range(aug_laye.shape[1]):
    card_i = aug_laye.iloc[:, i].nunique()/len(aug_laye.iloc[:, i])
    cardinality.update({i: card_i})