In [1]:
import os
from dotenv import load_dotenv
import requests
import json

In [2]:
# Load API Key
load_dotenv()
AIRDNA_TOKEN = os.getenv("AIRDNA_TOKEN")

In [3]:
# Same for All API Calls
HEADERS = {"access_token": AIRDNA_TOKEN}
HOST = "https://api.airdna.co/client/v1/"

In [5]:
# MARKET SEARCH
# {{HOST}}/client/{{VERSION_CLIENT}}/market/search?
# access_token={{CLIENT_TOKEN}}&term='https://www.airbnb.com/rooms/15807599'
# Country
# City
# Neighbourhood
# State (US Only)
# Metropolitan Statistical Area (US Only)
# Zip Code (US Only)

In [23]:
# Test Connection HERE <- Search Calls are Free
# API CALL - Market Search - Find Gatlinburg Market ID
endpoint = "market/search"
url = HOST + endpoint

params = {
    "access_token": AIRDNA_TOKEN,
    "term": "gatlinburg"
}


response = requests.request("GET", url,  
                            params=params)

In [24]:
# Get Market ID
gatlinburg_id = json['items'][0]['city']['id']

# Other information Available from This Response:
# - name, country, region, state, type, zipcode

In [25]:
gatlinburg_id

79116

In [4]:
# MARKET SUMMARY
# {{HOST}}/client/{{VERSION}}/market/summary?
# access_token={{CLIENT_TOKEN}}&city_id=59380&region_id=12341&currency=usd

# PARAMS
# city_id
# region_id
# currency

In [28]:
# API CALL - Market Summary - Get Info on Gatlinburg
endpoint = "market/summary"
url = HOST + endpoint

params = {
    "access_token": AIRDNA_TOKEN,
    "city_id": gatlinburg_id
}


response = requests.request("GET", url,  
                            params=params)

In [45]:
json = response.json()
data = json['data']
#data['host_info']
#data['rental_activity']
#data['calendar_months']
#data['rental_counts']

In [46]:
import pandas as pd
host_info = pd.DataFrame(json['data']['host_info'])
rental_activity = pd.DataFrame(json['data']['rental_activity'])
calendar_months = pd.DataFrame(json['data']['calendar_months'])
rental_counts = pd.DataFrame(json['data']['rental_counts'])

In [55]:
def render_df(df):
    print(df.shape)
    return df.head()

In [56]:
print('- Host Info -')
render_df(host_info)

Host Info
(7, 2)

                       hosts  host_properties
total_hosts            642.0              NaN
superhosts             343.0              NaN
multi_unit_hosts       197.0              NaN
single_unit_hosts      445.0              NaN
multi_host_properties    NaN           3104.0

In [57]:
print('- Rental Activity -')
render_df(rental_activity)

- Rental Activity -
(4, 2)

       available  booked
10-12       2054     435
1-3         1066    1764
7-9          667    1230
4-6          816    1174

In [58]:
print('- Calendar Months -')
render_df(calendar_months)

- Calendar Months -
(1, 3)

              year                                          room_type  month
entire_place  2020  {'occ': {'50th_percentile': 0.741935483870968}...     12

In [66]:
pd.DataFrame(json['data']['calendar_months']['room_type']['entire_place'])

                      occ    adr  revenue
50th_percentile  0.741935  263.0   4745.0

In [59]:
print('- Rental Counts -')
render_df(rental_counts)

- Rental Counts -
(5, 2)

                                                         counts  average
private_room  {'0': 14.0, '1': 73.0, '2': 15.0, '3': 2.0, 'a...      NaN
hotel_room                               {'1': 1.0, 'all': 1.0}      NaN
entire_place  {'0': 112.0, '1': 815.0, '2': 1213.0, '3': 643...      NaN
bedrooms                                                    NaN      2.5
accommodates                                                NaN      7.6

In [63]:
# What is this?
json['data']['rental_counts']['counts']['entire_place']

{'0': 112.0,
 '1': 815.0,
 '2': 1213.0,
 '3': 643.0,
 '4': 317.0,
 '5': 344.0,
 'all': 3444.0}

In [ ]:
rental_counts = pd.DataFrame(json['data']['rental_counts'])