In [1]:
import pandas as pd

In [2]:
# Data Source
# https://data.world/gmoney/us-city-populations

In [3]:
data_path = 'us_city_population.csv'

pops = pd.read_csv(data_path)

print(pops.shape)
pops.head()

(6889, 7)

,State,City,Population,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Alabama,Abernant,"7,599",NaN,NaN,NaN,NaN
1,Alabama,Alabaster,"31,545",NaN,NaN,NaN,NaN
2,Alabama,Albertville,"21,458",NaN,NaN,NaN,NaN
3,Alabama,Alexander City,"14,849",NaN,NaN,NaN,NaN
4,Alabama,Andalusia,"9,081",NaN,NaN,NaN,NaN