In [1]:
import pandas as pd

In [2]:
pairs = pd.read_csv('orig_dest_detailed.csv', index_col=0)
print(pairs.shape)
pairs.head()

(250000, 14)

,origin_code,destination_code,n_trips,origin_state_county,destination_state_county,origin,destination,origin_state_code,destination_state_code,dest_state,orig_state,dest_full,orig_full,original_id
0,6073,6037,9098075.0,"('6', '073')","('6', '037')",San Diego County,Los Angeles County,6,6,California,California,"Los Angeles County, California","San Diego County, California",695469
1,6037,6073,9098075.0,"('6', '037')","('6', '073')",Los Angeles County,San Diego County,6,6,California,California,"San Diego County, California","Los Angeles County, California",638859
2,6025,6073,4337119.0,"('6', '025')","('6', '073')",Imperial County,San Diego County,6,6,California,California,"San Diego County, California","Imperial County, California",619983
3,6073,6025,4337119.0,"('6', '073')","('6', '025')",San Diego County,Imperial County,6,6,California,California,"Imperial County, California","San Diego County, California",695463
4,6065,6037,4009696.0,"('6', '065')","('6', '037')",Riverside County,Los Angeles County,6,6,California,California,"Los Angeles County, California","Riverside County, California",682885

In [3]:
# There are 553 Nan Counties
print(len([dest for dest in pairs['dest_full'] if dest[:3] == 'nan']))
# First 3 Just for Context
[dest for dest in pairs['dest_full'] if dest[:3] == 'nan'][:3]

553

['nan, Alaska', 'nan, Alaska', 'nan, Alaska']

In [4]:
trips_by_dest = pairs.groupby('dest_full').sum()['n_trips']
trips_by_dest.head()

dest_full
Abbeville County, South Carolina     184624.0
Acadia Parish, Louisiana             241374.0
Accomack County, Virginia            242825.0
Ada County, Idaho                   1964790.0
Adair County, Iowa                    69708.0
Name: n_trips, dtype: float64

In [11]:
len(trips_by_dest.index)

3139

In [15]:
n_times_city_is_dest = trips_by_dest.sort_values(ascending=False)

In [14]:
# Ideally I find the Top Destinations that Originate from most populated cities.

In [16]:
n_times_city_is_dest.to_csv('col_travel_n_times_city_is_dest.csv')

In [17]:
trips_by_dest = pairs.groupby(['dest_full', 'dest_state']).sum()['n_trips']

In [20]:
trips_by_dest = pd.DataFrame(trips_by_dest).reset_index()

                             dest_full      dest_state    n_trips
0     Abbeville County, South Carolina  South Carolina   184624.0
1             Acadia Parish, Louisiana       Louisiana   241374.0
2            Accomack County, Virginia        Virginia   242825.0
3                    Ada County, Idaho           Idaho  1964790.0
4                   Adair County, Iowa            Iowa    69708.0
...                                ...             ...        ...
3134                       nan, Alaska          Alaska  1863658.0
3135                      nan, Florida         Florida   107150.0
3136                      nan, Montana         Montana   100857.0
3137                 nan, South Dakota    South Dakota   473282.0
3138                     nan, Virginia        Virginia   390944.0

[3139 rows x 3 columns]

In [23]:
trips_by_dest.to_csv('col_travel_n_times_city_is_dest_with_states.csv')