# Rearranging table structure so that each row is a destination not a orig-dest pair

# **TODO:**
This notebook concludes with a Series in which each row is one county, and it's value is the count of instances in which that county is a destination.
- More information could be added per row, for example <- number of unique origins that conclude with said destination....
- Possibly the populations of these origin counties.
- This one notebook could serve as a sole filtering method in itself.
- I could deep dive on getting the most out of this data source.

In [1]:
import pandas as pd

In [2]:
pairs = pd.read_csv('orig_dest_detailed.csv', index_col=0)
print(pairs.shape)
pairs.head()

(250000, 14)

,origin_code,destination_code,n_trips,origin_state_county,destination_state_county,origin,destination,origin_state_code,destination_state_code,dest_state,orig_state,dest_full,orig_full,original_id
0,6073,6037,9098075.0,"('6', '073')","('6', '037')",San Diego County,Los Angeles County,6,6,California,California,"Los Angeles County, California","San Diego County, California",695469
1,6037,6073,9098075.0,"('6', '037')","('6', '073')",Los Angeles County,San Diego County,6,6,California,California,"San Diego County, California","Los Angeles County, California",638859
2,6025,6073,4337119.0,"('6', '025')","('6', '073')",Imperial County,San Diego County,6,6,California,California,"San Diego County, California","Imperial County, California",619983
3,6073,6025,4337119.0,"('6', '073')","('6', '025')",San Diego County,Imperial County,6,6,California,California,"Imperial County, California","San Diego County, California",695463
4,6065,6037,4009696.0,"('6', '065')","('6', '037')",Riverside County,Los Angeles County,6,6,California,California,"Los Angeles County, California","Riverside County, California",682885

In [3]:
# There are 553 Nan Counties
print(len([dest for dest in pairs['dest_full'] if dest[:3] == 'nan']))
# First 3 Just for Context
[dest for dest in pairs['dest_full'] if dest[:3] == 'nan'][:3]

553

['nan, Alaska', 'nan, Alaska', 'nan, Alaska']

In [4]:
trips_by_dest = pairs.groupby('dest_full').sum()['n_trips']
trips_by_dest.head()

dest_full
Abbeville County, South Carolina     184624.0
Acadia Parish, Louisiana             241374.0
Accomack County, Virginia            242825.0
Ada County, Idaho                   1964790.0
Adair County, Iowa                    69708.0
Name: n_trips, dtype: float64

In [17]:
# Looks Like the Groupby Works as Intended
abbeville = pairs[pairs['dest_full'] == 'Abbeville County, South Carolina']
abbeville['n_trips'].sum()

184624.0

In [5]:
len(trips_by_dest.index)

3139

In [6]:
n_times_city_is_dest = trips_by_dest.sort_values(ascending=False)

In [7]:
# Ideally I find the Top Destinations that Originate from most populated cities.

In [8]:
n_times_city_is_dest.to_csv('col_travel_n_times_city_is_dest.csv')

In [9]:
trips_by_dest = pairs.groupby(['dest_full', 'dest_state']).sum()['n_trips']

In [10]:
trips_by_dest = pd.DataFrame(trips_by_dest).reset_index()

In [11]:
trips_by_dest.to_csv('col_travel_n_times_city_is_dest_with_states.csv')

## What other inforation could I gather from this grouping?
#### We'll look at two examples to get some ideas:
Abbeville County and Ada County

In [19]:
abbeville = pairs[pairs['dest_full'] == 'Abbeville County, South Carolina']
print(abbeville.shape)
abbeville.head()

(48, 14)

,origin_code,destination_code,n_trips,origin_state_county,destination_state_county,origin,destination,origin_state_code,destination_state_code,dest_state,orig_state,dest_full,orig_full,original_id
13359,37087,45001,17735.0,"('37', '087')","('45', '001')",Haywood County,Abbeville County,37,45,South Carolina,North Carolina,"Abbeville County, South Carolina","Haywood County, North Carolina",6086681
13507,13121,45001,17634.0,"('13', '121')","('45', '001')",Fulton County,Abbeville County,13,45,South Carolina,Georgia,"Abbeville County, South Carolina","Fulton County, Georgia",1405433
16110,13135,45001,15333.0,"('13', '135')","('45', '001')",Gwinnett County,Abbeville County,13,45,South Carolina,Georgia,"Abbeville County, South Carolina","Gwinnett County, Georgia",1427455
18980,45079,45001,13374.0,"('45', '079')","('45', '001')",Richland County,Abbeville County,45,45,South Carolina,South Carolina,"Abbeville County, South Carolina","Richland County, South Carolina",7414293
27003,13067,45001,10070.0,"('13', '067')","('45', '001')",Cobb County,Abbeville County,13,45,South Carolina,Georgia,"Abbeville County, South Carolina","Cobb County, Georgia",1320491

In [22]:
abbeville['orig_full'].value_counts().head()

Haywood County, North Carolina        1
Charleston County, South Carolina     1
Gwinnett County, Georgia              1
Wake County, North Carolina           1
Mecklenburg County, North Carolina    1
Name: orig_full, dtype: int64

In [23]:
ada = pairs[pairs['dest_full'] == 'Ada County, Idaho']
print(ada.shape)
ada.head()

(265, 14)

,origin_code,destination_code,n_trips,origin_state_county,destination_state_county,origin,destination,origin_state_code,destination_state_code,dest_state,orig_state,dest_full,orig_full,original_id
1149,16047,16001,100497.0,"('16', '047')","('16', '001')",Gooding County,Ada County,16,16,Idaho,Idaho,"Ada County, Idaho","Gooding County, Idaho",1806355
1263,16085,16001,94045.0,"('16', '085')","('16', '001')",Valley County,Ada County,16,16,Idaho,Idaho,"Ada County, Idaho","Valley County, Idaho",1866129
1713,16025,16001,76889.0,"('16', '025')","('16', '001')",Camas County,Ada County,16,16,Idaho,Idaho,"Ada County, Idaho","Camas County, Idaho",1771749
1759,16083,16001,75652.0,"('16', '083')","('16', '001')",Twin Falls County,Ada County,16,16,Idaho,Idaho,"Ada County, Idaho","Twin Falls County, Idaho",1862983
2537,41001,16001,60276.0,"('41', '001')","('16', '001')",Baker County,Ada County,41,16,Idaho,Oregon,"Ada County, Idaho","Baker County, Oregon",6950065