In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('18_revenue_state_and_local_summary.csv')
# Data Found At:
# https://www.lincolninst.edu/research-data/data-toolkits/significant-features-property-tax/government-finance-data/summary-27
# More Notes:
# https://www.notion.so/Lincoln-Institute-Data-024b8bdbc77a4b85bc4524faa0ce5a6e

In [3]:
print(df.shape)
df.head()

(52, 5)

,State,Total (millions of dollars),Per Capita (dollars),Percentage of General Revenue,Percentage of Personal Income
0,United States,"$547,039","$1,667",16.6%,3.1%
1,Alabama,2921,596,7.0%,1.4%
2,Alaska,1614,2206,14.0%,3.6%
3,Arizona,8053,1106,14.7%,2.5%
4,Arkansas,2334,774,9.0%,1.8%