## Read in Data

In [1]:
# Import Statements
import pandas as pd
import numpy as np

### Master Row Data

In [2]:
# Read in Data

# Price Per Square Feet per [County, City, State, +More]
ppsft = pd.read_csv('property_value_cost/cols_price_per_sqft.csv',
                    index_col=0)

# N Trips Ending per [County Name, State]
dest = pd.read_csv('travel_revenue/col_travel_n_times_city_is_dest_with_states.csv',
                   index_col=0
                  )

# Minimum Wage per [State]
min_wg = pd.read_csv('infrastructure_cost/cols_infra_min_wage.csv', 
                     index_col=0)

# Property Taxes per [State]
prp_taxes = pd.read_csv('taxes_cost/18_revenue_state_and_local_summary.csv')

# Natural Disasters by Type per [County Name, State]
dis = pd.read_csv('nat_disasters_cost/cols_disaster_stats.csv')

In [3]:
print(ppsft.shape)
ppsft.head()

(12243, 8)

,RegionID,RegionName,State,Metro,CountyName,SizeRank,pct_change,2017-09
0,6181,New York,NY,New York,Queens,1,0.092089,483
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,0.080575,432
2,17426,Chicago,IL,Chicago,Cook,3,0.046394,173
3,13271,Philadelphia,PA,Philadelphia,Philadelphia,4,0.078478,107
4,40326,Phoenix,AZ,Phoenix,Maricopa,5,0.082650,143

In [4]:
print(dest.shape)
dest.head()

(3139, 3)

                          dest_full      dest_state    n_trips
0  Abbeville County, South Carolina  South Carolina   184624.0
1          Acadia Parish, Louisiana       Louisiana   241374.0
2         Accomack County, Virginia        Virginia   242825.0
3                 Ada County, Idaho           Idaho  1964790.0
4                Adair County, Iowa            Iowa    69708.0

In [5]:
print(min_wg.shape)
min_wg.head()

(54, 5)

,State,State.Minimum.Wage,Federal.Minimum.Wage,Effective.Minimum.Wage,CPI.Average
2808,Alabama,0.00,7.25,7.25,258.66
2809,Alaska,10.19,7.25,10.19,258.66
2810,Arizona,12.00,7.25,12.00,258.66
2811,Arkansas,10.00,7.25,10.00,258.66
2812,California,13.00,7.25,13.00,258.66

In [6]:
print(prp_taxes.shape)
prp_taxes.head()

(52, 5)

,State,Total (millions of dollars),Per Capita (dollars),Percentage of General Revenue,Percentage of Personal Income
0,United States,"$547,039","$1,667",16.6%,3.1%
1,Alabama,2921,596,7.0%,1.4%
2,Alaska,1614,2206,14.0%,3.6%
3,Arizona,8053,1106,14.7%,2.5%
4,Arkansas,2334,774,9.0%,1.8%

In [7]:
print(dis.shape)
dis.head()

(3267, 24)

,loc_full,Biological,Chemical,Coastal Storm,Dam/Levee Break,Drought,Earthquake,Fire,Fishing Losses,Flood,...,Other,Severe Ice Storm,Severe Storm(s),Snow,Terrorist,Tornado,Toxic Substances,Tsunami,Typhoon,Volcano
0,"Abbeville County, South Carolina",2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,...,NaN,1.0,2.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1,"Acadia Parish, Louisiana",2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,3.0,...,1.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Accomack County, Virginia",2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,"Ada County, Idaho",2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Adair County, Iowa",2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,2.0,6.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

### Join Tables

In [8]:
# State Abbreviations + State Fips + State Name
states = pd.read_csv('join_tables/state_abbrevs.csv')

In [9]:
print(states.shape)
states.head()

(51, 3)

        State  Abbrev Code
0     Alabama    Ala.   AL
1      Alaska  Alaska   AK
2     Arizona   Ariz.   AZ
3    Arkansas    Ark.   AR
4  California  Calif.   CA

In [10]:
def name_to_code(state_name):
    try:
        return states[states['State'] == state_name]['Code'].values[0]
    except:
        print(f"Error Processing {state_name}")

def code_to_name(state_code):
    try:
        return states[states['Code'] == state_code]['State'].values[0]
    except:
        print(f"Error Processing {state_code}")

## Data Cleaning

### Price Per Square Foot `ppsft`

In [11]:
ppsft.head(2)

,RegionID,RegionName,State,Metro,CountyName,SizeRank,pct_change,2017-09
0,6181,New York,NY,New York,Queens,1,0.092089,483
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,0.080575,432

In [12]:
# Get Full State Names from 2 Letter Codes
ppsft['state_full'] = ppsft['State'].apply(code_to_name)

In [13]:
ppsft.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12243 entries, 0 to 12242
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RegionID    12243 non-null  int64
 1   RegionName  12243 non-null  object
 2   State       12243 non-null  object
 3   Metro       11297 non-null  object
 4   CountyName  12243 non-null  object
 5   SizeRank    12243 non-null  int64
 6   pct_change  12242 non-null  float64
 7   2017-09     12243 non-null  int64
 8   state_full  12243 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 956.5+ KB

In [14]:
# Stick Together loc_full Column
loc_full = []
for i, row in ppsft.iterrows():
    loc_full.append(row[4] + ', ' + row[8])

ppsft['loc_full'] = loc_full

In [15]:
# Drop High Cardinality or Out-of-Context Columns
ppsft = ppsft.drop(['RegionID'], axis=1)

In [16]:
# Rename Columns for Context of Master Row
ppsft.columns = ['region_name_ppsft', 
                 'state_code', 
                 'metro_ppsft', 
                 'county_name', 
                 'size_rank_ppsft',
                 'pct_change_ppsft', 
                 'ppsft_2017', 
                 'state_full', 
                 'loc_full']

In [17]:
ppsft.head(3)

,region_name_ppsft,state_code,metro_ppsft,county_name,size_rank_ppsft,pct_change_ppsft,ppsft_2017,state_full,loc_full
0,New York,NY,New York,Queens,1,0.092089,483,New York,"Queens, New York"
1,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,0.080575,432,California,"Los Angeles, California"
2,Chicago,IL,Chicago,Cook,3,0.046394,173,Illinois,"Cook, Illinois"

### Destination Trip Data `dest`

In [18]:
dest.head(2)

                          dest_full      dest_state   n_trips
0  Abbeville County, South Carolina  South Carolina  184624.0
1          Acadia Parish, Louisiana       Louisiana  241374.0

In [19]:
states.head()

        State  Abbrev Code
0     Alabama    Ala.   AL
1      Alaska  Alaska   AK
2     Arizona   Ariz.   AZ
3    Arkansas    Ark.   AR
4  California  Calif.   CA

In [20]:
dest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3139 entries, 0 to 3138
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dest_full   3139 non-null   object
 1   dest_state  3139 non-null   object
 2   n_trips     3139 non-null   float64
dtypes: float64(1), object(2)
memory usage: 98.1+ KB

In [21]:
# Get State Column
state = []
for i, row in dest.iterrows():
    state_row = states[row[1] == states['State']]
    state.append(state_row['Code'].values[0])

dest.insert(3, 'state', state)

In [22]:
# Remove word 'County' from dest_full
dest['dest_full'] = dest['dest_full'].str.replace(' County', '')

In [23]:
# Rename Columns
dest.columns = ['loc_full', 
                'state_full', 
                'n_trips', 
                'state_code']

In [24]:
dest.head(3)

                    loc_full      state_full   n_trips state_code
0  Abbeville, South Carolina  South Carolina  184624.0         SC
1   Acadia Parish, Louisiana       Louisiana  241374.0         LA
2         Accomack, Virginia        Virginia  242825.0         VA

### Minimum Wage `min_wg`

In [25]:
min_wg.head(2)

,State,State.Minimum.Wage,Federal.Minimum.Wage,Effective.Minimum.Wage,CPI.Average
2808,Alabama,0.00,7.25,7.25,258.66
2809,Alaska,10.19,7.25,10.19,258.66

In [26]:
min_wg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54 entries, 2808 to 2861
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   54 non-null     object
 1   State.Minimum.Wage      54 non-null     float64
 2   Federal.Minimum.Wage    54 non-null     float64
 3   Effective.Minimum.Wage  54 non-null     float64
 4   CPI.Average             54 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.5+ KB

In [27]:
min_wg['state_code'] = min_wg['State'].apply(name_to_code)

Error Processing Guam
Error Processing Puerto Rico
Error Processing U.S. Virgin Islands

In [28]:
# Rename Columns
min_wg.columns = ['state_full', 
                  'state_min_wage', 
                  'fed_min_wage',
                  'effective_min_wage', 
                  'cpi_average', 
                  'state_code']

In [29]:
min_wg.head(2)

,state_full,state_min_wage,fed_min_wage,effective_min_wage,cpi_average,state_code
2808,Alabama,0.00,7.25,7.25,258.66,AL
2809,Alaska,10.19,7.25,10.19,258.66,AK

### Property Taxes `prp_taxes`

In [30]:
prp_taxes.head(2)

,State,Total (millions of dollars),Per Capita (dollars),Percentage of General Revenue,Percentage of Personal Income
0,United States,"$547,039","$1,667",16.6%,3.1%
1,Alabama,2921,596,7.0%,1.4%

In [31]:
prp_taxes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State                          52 non-null     object
 1   Total (millions of dollars)    52 non-null     object
 2   Per Capita (dollars)           52 non-null     object
 3   Percentage of General Revenue  52 non-null     object
 4   Percentage of Personal Income  52 non-null     object
dtypes: object(5)
memory usage: 2.2+ KB

In [32]:
# Get State Column
state = []
for i, row in prp_taxes.iterrows():
    state_row = states[row[0] == states['State']]
    try:
        state.append(state_row['Code'].values[0])
    except:
        state.append(np.nan)
        
prp_taxes.insert(5, 'state', state)

In [33]:
# Rename Columns
prp_taxes.columns = ['state_full', 
                     'prp_taxes_mill', 
                     'prp_taxes_per_capita', 
                     'prp_taxes_perc_general_rev', 
                     'prp_taxes_perc_personal_income',
                     'state_code']

In [34]:
prp_taxes.head(3)

,state_full,prp_taxes_mill,prp_taxes_per_capita,prp_taxes_perc_general_rev,prp_taxes_perc_personal_income,state_code
0,United States,"$547,039","$1,667",16.6%,3.1%,NaN
1,Alabama,2921,596,7.0%,1.4%,AL
2,Alaska,1614,2206,14.0%,3.6%,AK

### Natural Disasters `dis`

In [35]:
dis.head(2)

,loc_full,Biological,Chemical,Coastal Storm,Dam/Levee Break,Drought,Earthquake,Fire,Fishing Losses,Flood,...,Other,Severe Ice Storm,Severe Storm(s),Snow,Terrorist,Tornado,Toxic Substances,Tsunami,Typhoon,Volcano
0,"Abbeville County, South Carolina",2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,...,NaN,1.0,2.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1,"Acadia Parish, Louisiana",2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,3.0,...,1.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
dis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3267 entries, 0 to 3266
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   loc_full          3267 non-null   object
 1   Biological        3249 non-null   float64
 2   Chemical          9 non-null      float64
 3   Coastal Storm     474 non-null    float64
 4   Dam/Levee Break   11 non-null     float64
 5   Drought           1193 non-null   float64
 6   Earthquake        168 non-null    float64
 7   Fire              975 non-null    float64
 8   Fishing Losses    34 non-null     float64
 9   Flood             2705 non-null   float64
 10  Freezing          171 non-null    float64
 11  Human Cause       7 non-null      float64
 12  Hurricane         2899 non-null   float64
 13  Mud/Landslide     28 non-null     float64
 14  Other             224 non-null    float64
 15  Severe Ice Storm  995 non-null    float64
 16  Severe Storm(s)   3042 non-null   float64
 17  Snow              1623 non-null   float64
 18  Terrorist         5 non-null      float64
 19  Tornado           1096 non-null   float64
 20  Toxic Substances  9 non-null      float64
 21  Tsunami           9 non-null      float64
 22  Typhoon           2 non-null      float64
 23  Volcano           49 non-null     float64
dtypes: float64(23), object(1)
memory usage: 612.7+ KB

In [37]:
# Insert State Column
state = [s.split(',')[1].strip() for s in dis['loc_full']]
dis.insert(24, 'state', state)

In [38]:
dis.columns = ['loc_full', 
               'Biological', 
               'Chemical', 
               'Coastal Storm', 
               'Dam/Levee Break', 
               'Drought', 
               'Earthquake', 
               'Fire', 
               'Fishing Losses',
               'Flood', 
               'Freezing', 
               'Human Cause', 
               'Hurricane', 
               'Mud/Landslide',
               'Other', 
               'Severe Ice Storm', 
               'Severe Storm(s)', 
               'Snow', 
               'Terrorist',
               'Tornado', 
               'Toxic Substances', 
               'Tsunami', 
               'Typhoon', 
               'Volcano',
               'state_full'
              ]

In [39]:
dis.head(3)

,loc_full,Biological,Chemical,Coastal Storm,Dam/Levee Break,Drought,Earthquake,Fire,Fishing Losses,Flood,...,Severe Ice Storm,Severe Storm(s),Snow,Terrorist,Tornado,Toxic Substances,Tsunami,Typhoon,Volcano,state_full
0,"Abbeville County, South Carolina",2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,...,1.0,2.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,South Carolina
1,"Acadia Parish, Louisiana",2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Louisiana
2,"Accomack County, Virginia",2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Virginia

# Giant Merge

In [40]:
def report(df):
    print(f'-- {df.name} --')
    print(df.shape)
    # County Granular DF
    if 'loc_full' in df.columns:
        print('Rows per County', df['loc_full'].value_counts().mean())
        print('Unique Counties: ', df['loc_full'].nunique())
        print('Rows per State', df['state_full'].value_counts().mean(), '\n')
    # State Granular DF
    else:
        print('Unique States: ', df['state_full'].nunique())
        print('Rows per State', df['state_full'].value_counts().mean(), '\n')

In [41]:
# Name DFs
ppsft.name = 'ppsft'
dest.name = 'dest'
min_wg.name = 'min_wg'
prp_taxes.name = 'prp_taxes'
dis.name = 'dis'

In [42]:
# Print Report
for df in [ppsft, dest, min_wg, prp_taxes, dis]:
    report(df)

-- ppsft --
(12243, 9)
Rows per County 7.134615384615385
Unique Counties:  1716
Rows per State 240.05882352941177

-- dest --
(3139, 4)
Rows per County 1.0
Unique Counties:  3139
Rows per State 61.549019607843135

-- min_wg --
(54, 6)
Unique States:  54
Rows per State 1.0

-- prp_taxes --
(52, 6)
Unique States:  52
Rows per State 1.0

-- dis --
(3267, 25)
Rows per County 1.0
Unique Counties:  3267
Rows per State 62.82692307692308

### We Observe That:
- The only DF with more than 1 row per county is ppsft
- ppsft contains more granual geographical in its col 'region_name'


- ppsft is also the DF with the least unique counties
- There are around 3k counties in the US; ppsft contains slightly more than half this.

In [43]:
# ppsft contains more granual geographical in its col 'region_name'
# For Example: County Montgomery, PA has multiple 'region_name's
montgomery = ppsft[ppsft['loc_full'] == 'Montgomery, Pennsylvania']
montgomery.head()

,region_name_ppsft,state_code,metro_ppsft,county_name,size_rank_ppsft,pct_change_ppsft,ppsft_2017,state_full,loc_full
1370,Norristown,PA,Philadelphia,Montgomery,1371,0.041246,91,Pennsylvania,"Montgomery, Pennsylvania"
1781,Lower Merion Township,PA,Philadelphia,Montgomery,1782,0.015858,226,Pennsylvania,"Montgomery, Pennsylvania"
2045,Pottstown,PA,Philadelphia,Montgomery,2046,0.011174,91,Pennsylvania,"Montgomery, Pennsylvania"
2143,Upper Providence Township,PA,Philadelphia,Montgomery,2144,0.023697,153,Pennsylvania,"Montgomery, Pennsylvania"
2217,Hatfield Township,PA,Philadelphia,Montgomery,2218,0.029812,158,Pennsylvania,"Montgomery, Pennsylvania"

In [50]:
ppsft.groupby(['loc_full', 'state_full']).mean().reset_index()

,loc_full,state_full,size_rank_ppsft,pct_change_ppsft,ppsft_2017
0,"Ada, Idaho",Idaho,2951.000000,0.083953,132.833333
1,"Adams, Colorado",Colorado,4497.538462,0.117766,231.230769
2,"Adams, Illinois",Illinois,1686.000000,0.013158,78.000000
3,"Adams, Indiana",Indiana,6791.750000,0.021596,66.250000
4,"Adams, Mississippi",Mississippi,1571.000000,0.020548,76.000000
...,...,...,...,...,...
1711,"Young, Texas",Texas,7479.000000,-0.040205,35.000000
1712,"Yuba, California",California,5598.750000,0.126128,166.250000
1713,"Yuma, Arizona",Arizona,2886.250000,0.047078,100.250000
1714,"Zapata, Texas",Texas,3336.000000,0.078249,73.000000
1715,"Zavala, Texas",Texas,4485.000000,0.071591,63.000000

In [44]:
# I'm not sure if this added 'region_name' granualrity is useful...
# For simplicities sake I will group it out.

ppsft = ppsft.groupby(by='loc_full').mean().reset_index()
ppsft['loc_full'].value_counts().mean()

1.0

### Merge 1

In [45]:
print(ppsft.shape)
ppsft.head(2)

(1716, 4)

          loc_full  size_rank_ppsft  pct_change_ppsft  ppsft_2017
0       Ada, Idaho      2951.000000          0.083953  132.833333
1  Adams, Colorado      4497.538462          0.117766  231.230769

In [46]:
print(dest.shape)
dest.head(2)

(3139, 4)

                    loc_full      state_full   n_trips state_code
0  Abbeville, South Carolina  South Carolina  184624.0         SC
1   Acadia Parish, Louisiana       Louisiana  241374.0         LA

In [47]:
# ppsft has more granularity than loc_full
print('dest has 1 Row per County: ', dest['loc_full'].value_counts().mean())
print('ppsft has on average 7.13 rows per county')
ppsft['loc_full'].value_counts().mean()

dest has 1 Row per County:  1.0
ppsft has on average 7.13 rows per county

1.0

In [48]:
# Check for Granularity
dest['loc_full'].value_counts().mean()

1.0

In [49]:
m1i = ppsft.merge(right=dest, how='inner', on=['loc_full', 'state_code', 'state_full'])
print(m1i.shape[0])

m1o = ppsft.merge(right=dest, how='outer', on=['loc_full', 'state_code', 'state_full'])
print(m1o.shape[0])

KeyError: 'state_code'

In [ ]:
m1i.head(2)

In [ ]:
m1o.head(2)

### Merge 2

In [ ]:
print(min_wg.shape)
min_wg.head(2)

In [ ]:
m2i = m1i.merge(right=min_wg, how='left', on=['state_code', 'state_full'])
print(m2i.shape)

m2o = m1o.merge(right=min_wg, how='left', on=['state_code', 'state_full'])
print(m2o.shape)

### Merge 3

In [ ]:
print(prp_taxes.shape)
prp_taxes.head(2)

In [ ]:
m3i = m2i.merge(right=prp_taxes, how='left', on=['state_code', 'state_full'])
print(m3i.shape)

m3o = m2o.merge(right=prp_taxes, how='left', on=['state_code', 'state_full'])
print(m3o.shape)

In [ ]:
m3i.head(2)

In [ ]:
m3i.tail(2)

### Merge 4 <- Might stop at Merge 3

In [ ]:
dis.head(2)

In [ ]:
m4i = m3i.merge(right=dis, how='left', on=['loc_full', 'state_full'])
print(m4i.shape)

m4o = m3i.merge(right=dis, how='left', on=['loc_full', 'state_full'])
print(m4o.shape)

In [ ]:
m4i.head()

In [ ]:
m4i.info()

In [ ]:
m4o.info()

In [ ]:
outer = m4o

In [ ]:
to_drop = []
for i in range(len(outer.columns)):
    if outer[str(outer.columns[i])].notna().sum() == 0:
        to_drop.append(str(outer.columns[i]))

In [ ]:
outer = outer.drop(to_drop, axis=1)

In [ ]:
outer.head()

In [ ]:
outer.to_csv('outer_merge.csv')

In [ ]:
inner = m3i

In [ ]:
inner.to_csv('inner_merge.csv')