In [2]:
import pandas as pd

states = pd.read_csv('join_tables/state_abbrevs.csv')

states.head()

        State  Abbrev Code
0     Alabama    Ala.   AL
1      Alaska  Alaska   AK
2     Arizona   Ariz.   AZ
3    Arkansas    Ark.   AR
4  California  Calif.   CA

In [13]:
state_name = 'Arkansas'

states[states['State'] == state_name]['Code'].values[0]

'AR'

In [27]:
def name_to_code(state_name):
    try:
        return states[states['State'] == state_name]['Code'].values[0]
    except:
        print(f"Error Processing {state_name}")

def code_to_name(state_code):
    try:
        return states[states['Code'] == state_code]['State'].values[0]
    except:
        print(f"Error Processing {state_name}")

In [28]:
code_to_name('AR')

'Arkansas'

In [29]:
state_code = 'AR'
states[states['Code'] == state_code]['State'].values[0]

'Arkansas'