In [1]:
import pandas as pd
import numpy as np

In [2]:
# Source: https://www.fema.gov/openfema-data-page/disaster-declarations-summaries
disas = pd.read_csv('DisasterDeclarationsSummaries.csv'
                   )

print(disas.shape)
disas.head()

(60612, 23)

,femaDeclarationString,disasterNumber,state,declarationType,declarationDate,fyDeclared,incidentType,declarationTitle,ihProgramDeclared,iaProgramDeclared,...,incidentEndDate,disasterCloseoutDate,fipsStateCode,fipsCountyCode,placeCode,designatedArea,declarationRequestNumber,hash,lastRefresh,id
0,DR-1-GA,1,GA,DR,1953-05-02T00:00:00.000Z,1953,Tornado,TORNADO,0,1,...,1953-05-02T00:00:00.000Z,1954-06-01T00:00:00.000Z,13,0,0,Statewide,53013,bbe78045bc2c18eabea13bd70bdd3fc8,2021-02-05T19:01:21.734Z,5f7b2be031a8c6681cfb4342
1,DR-2-TX,2,TX,DR,1953-05-15T00:00:00.000Z,1953,Tornado,TORNADO & HEAVY RAINFALL,0,1,...,1953-05-15T00:00:00.000Z,1958-01-01T00:00:00.000Z,48,0,0,Statewide,53003,fa79c2a0c1dd09facb9729ead357b422,2021-02-05T19:01:21.736Z,5f7b2be031a8c6681cfb4345
2,DR-5-MT,5,MT,DR,1953-06-06T00:00:00.000Z,1953,Flood,FLOODS,0,1,...,1953-06-06T00:00:00.000Z,1955-12-01T00:00:00.000Z,30,0,0,Statewide,53006,f044c01fd5da9d437f5ddd208ed59126,2021-02-05T19:01:21.737Z,5f7b2be031a8c6681cfb4348
3,DR-7-MA,7,MA,DR,1953-06-11T00:00:00.000Z,1953,Tornado,TORNADO,0,1,...,1953-06-11T00:00:00.000Z,1956-06-01T00:00:00.000Z,25,0,0,Statewide,53009,2689d48c5b648a64a2960d740f8a0c0f,2021-02-05T19:01:21.737Z,5f7b2be031a8c6681cfb434b
4,DR-8-IA,8,IA,DR,1953-06-11T00:00:00.000Z,1953,Flood,FLOOD,0,1,...,1953-06-11T00:00:00.000Z,1955-11-01T00:00:00.000Z,19,0,0,Statewide,53008,0272b5fe94beed25334abef8adb43896,2021-02-05T19:01:21.737Z,5f7b2be031a8c6681cfb434e

In [3]:
disas.tail()

,femaDeclarationString,disasterNumber,state,declarationType,declarationDate,fyDeclared,incidentType,declarationTitle,ihProgramDeclared,iaProgramDeclared,...,incidentEndDate,disasterCloseoutDate,fipsStateCode,fipsCountyCode,placeCode,designatedArea,declarationRequestNumber,hash,lastRefresh,id
60607,DR-4584-WA,4584,WA,DR,2021-02-04T10:05:00.000Z,2021,Fire,WILDFIRES AND STRAIGHT-LINE WINDS,0,0,...,2020-09-19T23:59:00.000Z,NaN,53,59,99059,Skamania (County),20295,370750d9d27b2823beb9847822aa6da7,2021-02-05T19:03:28.196Z,601c287ca41acb24f2e3fe0f
60608,DR-4584-WA,4584,WA,DR,2021-02-04T10:05:00.000Z,2021,Fire,WILDFIRES AND STRAIGHT-LINE WINDS,0,0,...,2020-09-19T23:59:00.000Z,NaN,53,75,99075,Whitman (County),20295,148f2c91dec75f1db7c4f622680d02c4,2021-02-05T19:03:28.198Z,601c287ca41acb24f2e3fe1d
60609,DR-4584-WA,4584,WA,DR,2021-02-04T10:05:00.000Z,2021,Fire,WILDFIRES AND STRAIGHT-LINE WINDS,0,0,...,2020-09-19T23:59:00.000Z,NaN,53,43,99043,Lincoln (County),20295,086843c25692258a6fc40f37553c76d2,2021-02-05T19:03:28.191Z,601c287ca41acb24f2e3fdf3
60610,DR-4584-WA,4584,WA,DR,2021-02-04T10:05:00.000Z,2021,Fire,WILDFIRES AND STRAIGHT-LINE WINDS,0,0,...,2020-09-19T23:59:00.000Z,NaN,53,77,99077,Yakima (County),20295,a05930cb58d8f11fb2d8db172d97f9b8,2021-02-05T19:03:28.198Z,601c287ca41acb24f2e3fe2c
60611,DR-4584-WA,4584,WA,DR,2021-02-04T10:05:00.000Z,2021,Fire,WILDFIRES AND STRAIGHT-LINE WINDS,0,0,...,2020-09-19T23:59:00.000Z,NaN,53,47,99047,Okanogan (County),20295,0701f3348493adee563a6b4420ecd999,2021-02-05T19:03:28.193Z,601c287ca41acb24f2e3fe2f

In [4]:
disas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60612 entries, 0 to 60611
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   femaDeclarationString     60612 non-null  object
 1   disasterNumber            60612 non-null  int64
 2   state                     60612 non-null  object
 3   declarationType           60612 non-null  object
 4   declarationDate           60612 non-null  object
 5   fyDeclared                60612 non-null  int64
 6   incidentType              60612 non-null  object
 7   declarationTitle          60612 non-null  object
 8   ihProgramDeclared         60612 non-null  int64
 9   iaProgramDeclared         60612 non-null  int64
 10  paProgramDeclared         60612 non-null  int64
 11  hmProgramDeclared         60612 non-null  int64
 12  incidentBeginDate         60612 non-null  object
 13  incidentEndDate           52535 non-null  object
 14  disasterCloseoutDate      44128 non-null  object
 15  fipsStateCode             60612 non-null  int64
 16  fipsCountyCode            60612 non-null  int64
 17  placeCode                 60612 non-null  int64
 18  designatedArea            60612 non-null  object
 19  declarationRequestNumber  60612 non-null  int64
 20  hash                      60612 non-null  object
 21  lastRefresh               60612 non-null  object
 22  id                        60612 non-null  object
dtypes: int64(10), object(13)
memory usage: 10.6+ MB

In [5]:
# Keep
# Two character code that defines if this is a major disaster, fire management, or emergency declaration. For more information on the disaster process, please visit https://www.fema.gov
disas['declarationType'].value_counts()

DR    41134
EM    17698
FM     1780
Name: declarationType, dtype: int64

In [6]:
# 	Denotes whether the Individuals and Households program was declared for this disaster. For more information on the program, please visit https://www.fema.gov
# This is given out when people need temporary housing
# As such this category should definetly be kept as it relates to
# distruction of property
disas['ihProgramDeclared'].value_counts()

0    50591
1    10021
Name: ihProgramDeclared, dtype: int64

In [7]:
disas['iaProgramDeclared'].value_counts()

0    43425
1    17187
Name: iaProgramDeclared, dtype: int64

In [8]:
# Keep
disas['incidentType'].value_counts()

Severe Storm(s)     16962
Hurricane           12007
Flood               10391
Biological           7612
Snow                 3659
Fire                 3502
Severe Ice Storm     2020
Tornado              1464
Drought              1292
Coastal Storm         571
Freezing              301
Other                 299
Earthquake            226
Typhoon               130
Volcano                51
Fishing Losses         42
Mud/Landslide          31
Dam/Levee Break        13
Chemical                9
Tsunami                 9
Toxic Substances        9
Human Cause             7
Terrorist               5
Name: incidentType, dtype: int64

### Do these program columns give us much useful information?

In [9]:
n_program = disas[disas['incidentType'] == 'Biological']['hmProgramDeclared'].sum()

In [10]:
n_incident = len(disas[disas['incidentType'] == 'Biological']['hmProgramDeclared'])

In [11]:
# ih issued when Biological == 0.5139253809774041
# ia issued when Biological == 0
# pa issued when Biological == 0.9997372569626904
# hm issued when Biological == 0
n_program/n_incident

0.0

In [12]:
n_program = disas[disas['incidentType'] == 'Hurricane']['hmProgramDeclared'].sum()

In [13]:
n_incident = len(disas[disas['incidentType'] == 'Hurricane']['hmProgramDeclared'])

In [14]:
# ih issued when Hurricane == 0.13192304489048054
# ia issued when Hurricane == 0.1860581327558924
# pa issued when Hurricane == 0.976263846089781
# hm issued when Hurricane == 0.3223952694261681
n_program/n_incident

0.3223952694261681

In [15]:
n_program = disas[disas['incidentType'] == 'Fire']['hmProgramDeclared'].sum()

In [16]:
n_incident = len(disas[disas['incidentType'] == 'Fire']['hmProgramDeclared'])

In [17]:
# ih issued when Fire == 0.0442604226156482
# ia issued when Fire == 0.09994288977727013
# pa issued when Fire == 0.9486007995431183
# hm issued when Fire == 0.31267846944603084
n_program/n_incident

0.31267846944603084

In [18]:
# Remove Unneccary Columns
disas_trimmed = disas[[
    'state',
    'declarationType',
    'declarationDate',
    'incidentType',
    'declarationTitle',
    'incidentBeginDate',
    'incidentEndDate',
    'fipsStateCode',
    'fipsCountyCode',
    'designatedArea'
]]

In [19]:
disas_trimmed.head()

,state,declarationType,declarationDate,incidentType,declarationTitle,incidentBeginDate,incidentEndDate,fipsStateCode,fipsCountyCode,designatedArea
0,GA,DR,1953-05-02T00:00:00.000Z,Tornado,TORNADO,1953-05-02T00:00:00.000Z,1953-05-02T00:00:00.000Z,13,0,Statewide
1,TX,DR,1953-05-15T00:00:00.000Z,Tornado,TORNADO & HEAVY RAINFALL,1953-05-15T00:00:00.000Z,1953-05-15T00:00:00.000Z,48,0,Statewide
2,MT,DR,1953-06-06T00:00:00.000Z,Flood,FLOODS,1953-06-06T00:00:00.000Z,1953-06-06T00:00:00.000Z,30,0,Statewide
3,MA,DR,1953-06-11T00:00:00.000Z,Tornado,TORNADO,1953-06-11T00:00:00.000Z,1953-06-11T00:00:00.000Z,25,0,Statewide
4,IA,DR,1953-06-11T00:00:00.000Z,Flood,FLOOD,1953-06-11T00:00:00.000Z,1953-06-11T00:00:00.000Z,19,0,Statewide

In [20]:
disas_trimmed['fipsCountyCode'].value_counts()

0      1343
3       998
5       965
7       951
9       936
       ...
220       2
80        1
400       1
230       1
330       1
Name: fipsCountyCode, Length: 345, dtype: int64

In [21]:
codes = pd.read_csv('../travel_revenue/all-geocodes-v2018.csv',
                    skiprows=4
                  )
print(codes.shape)
codes.head()

(43847, 7)

,Summary Level,State Code (FIPS),County Code (FIPS),County Subdivision Code (FIPS),Place Code (FIPS),Consolidtated City Code (FIPS),Area Name (including legal/statistical area description)
0,10,0,0,0,0,0,United States
1,40,1,0,0,0,0,Alabama
2,50,1,1,0,0,0,Autauga County
3,50,1,3,0,0,0,Baldwin County
4,50,1,5,0,0,0,Barbour County

In [22]:
states = pd.read_csv('../travel_revenue/StatesFIPSCodes.csv')
print(states.shape)
states.head()

(57, 4)

   STATE_FIPS STUSAB  STATE_NAME  STATENS
0           1     AL     Alabama  1779775
1           2     AK      Alaska  1785533
2           4     AZ     Arizona  1779777
3           5     AR    Arkansas    68085
4           6     CA  California  1779778

In [23]:
def get_state_name(state_code):
    """Returns state name when given State FIPS Code"""
    query_string = f"{state_code} == `STATE_FIPS`"
    return state_fips.query(query_string)['STATE_NAME'].iloc[0]

In [24]:
def convert_fips_city(state_code, county_code):
    """
    Takes a tuple of state fips code, county fips code
    And converts to Name String
    """
    # mask = (codes['State Code (FIPS)'] == int(state_code)) & (codes['County Code (FIPS)'] == int(county_code))
    query_string = f"{int(state_code)} == `State Code (FIPS)` & {int(county_code)} == `County Code (FIPS)`"
    codes.query(query_string)
    # return codes[mask]['Area Name (including legal/statistical area description)'].iloc[0]
    county = codes.query(query_string)['Area Name (including legal/statistical area description)'].iloc[0]
    
    query_string_state = f"{state_code} == `STATE_FIPS`"
    state = states.query(query_string_state)['STATE_NAME'].iloc[0]
    
    return str(county + ', ' + state)

In [25]:
disas_trimmed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60612 entries, 0 to 60611
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state              60612 non-null  object
 1   declarationType    60612 non-null  object
 2   declarationDate    60612 non-null  object
 3   incidentType       60612 non-null  object
 4   declarationTitle   60612 non-null  object
 5   incidentBeginDate  60612 non-null  object
 6   incidentEndDate    52535 non-null  object
 7   fipsStateCode      60612 non-null  int64
 8   fipsCountyCode     60612 non-null  int64
 9   designatedArea     60612 non-null  object
dtypes: int64(2), object(8)
memory usage: 4.6+ MB

In [26]:
convert_fips_city(13, 1)

'Appling County, Georgia'

In [27]:
%%time

loc_full = []
for i, row in disas_trimmed.iterrows():
    try:
        loc_full.append(convert_fips_city(row[7], row[8]))
    except:
        loc_full.append(np.nan)

CPU times: user 4min 16s, sys: 270 ms, total: 4min 16s
Wall time: 4min 16s

In [28]:
len(loc_full) == len(disas_trimmed)

True

In [29]:
disas_trimmed.insert(10, 'loc_full', loc_full)

In [30]:
disas_trimmed.head()

,state,declarationType,declarationDate,incidentType,declarationTitle,incidentBeginDate,incidentEndDate,fipsStateCode,fipsCountyCode,designatedArea,loc_full
0,GA,DR,1953-05-02T00:00:00.000Z,Tornado,TORNADO,1953-05-02T00:00:00.000Z,1953-05-02T00:00:00.000Z,13,0,Statewide,"Georgia, Georgia"
1,TX,DR,1953-05-15T00:00:00.000Z,Tornado,TORNADO & HEAVY RAINFALL,1953-05-15T00:00:00.000Z,1953-05-15T00:00:00.000Z,48,0,Statewide,"Texas, Texas"
2,MT,DR,1953-06-06T00:00:00.000Z,Flood,FLOODS,1953-06-06T00:00:00.000Z,1953-06-06T00:00:00.000Z,30,0,Statewide,"Montana, Montana"
3,MA,DR,1953-06-11T00:00:00.000Z,Tornado,TORNADO,1953-06-11T00:00:00.000Z,1953-06-11T00:00:00.000Z,25,0,Statewide,"Massachusetts, Massachusetts"
4,IA,DR,1953-06-11T00:00:00.000Z,Flood,FLOOD,1953-06-11T00:00:00.000Z,1953-06-11T00:00:00.000Z,19,0,Statewide,"Iowa, Iowa"

In [31]:
# Very Few Nans
disas_trimmed['loc_full'].isna().sum() / len(disas_trimmed['loc_full'])

0.006038408235992873

In [63]:
pd.pivot_table(disas_trimmed, index=['loc_full', ], aggfunc='count')#['declarationTitle']

,declarationDate,declarationTitle,declarationType,designatedArea,fipsCountyCode,fipsStateCode,incidentBeginDate,incidentEndDate,incidentType,state
loc_full,,,,,,,,,,
"Abbeville County, South Carolina",14,14,14,14,14,14,14,12,14,14
"Acadia Parish, Louisiana",35,35,35,35,35,35,35,33,35,35
"Accomack County, Virginia",19,19,19,19,19,19,19,17,19,19
"Ada County, Idaho",6,6,6,6,6,6,6,4,6,6
"Adair County, Iowa",16,16,16,16,16,16,16,14,16,16
...,...,...,...,...,...,...,...,...,...,...
"Yuma County, Arizona",6,6,6,6,6,6,6,4,6,6
"Yuma County, Colorado",7,7,7,7,7,7,7,5,7,7
"Zapata County, Texas",13,13,13,13,13,13,13,11,13,13
"Zavala County, Texas",16,16,16,16,16,16,16,14,16,16
"Ziebach County, South Dakota",20,20,20,20,20,20,20,18,20,20

In [54]:
pv = pd.pivot_table(disas_trimmed, index=['loc_full', 'incidentType'], aggfunc='count')['declarationTitle']

In [59]:
pv.head(10)

loc_full                          incidentType
Abbeville County, South Carolina  Biological          2
                                  Drought             1
                                  Flood               1
                                  Hurricane           6
                                  Severe Ice Storm    1
                                  Severe Storm(s)     2
                                  Tornado             1
Acadia Parish, Louisiana          Biological          2
                                  Coastal Storm       2
                                  Flood               3
Name: declarationTitle, dtype: int64

In [71]:
pd.DataFrame(pv)

                                                   declarationTitle
loc_full                         incidentType
Abbeville County, South Carolina Biological                       2
                                 Drought                          1
                                 Flood                            1
                                 Hurricane                        6
                                 Severe Ice Storm                 1
...                                                             ...
Ziebach County, South Dakota     Coastal Storm                    1
                                 Drought                          1
                                 Flood                            4
                                 Severe Storm(s)                 10
                                 Snow                             2

[18977 rows x 1 columns]

In [76]:
disas_trimmed['incidentType'].nunique()

23

In [77]:
final_df = pv.unstack()

In [78]:
print(final_df.shape)
final_df.head()

(3267, 23)

incidentType,Biological,Chemical,Coastal Storm,Dam/Levee Break,Drought,Earthquake,Fire,Fishing Losses,Flood,Freezing,...,Other,Severe Ice Storm,Severe Storm(s),Snow,Terrorist,Tornado,Toxic Substances,Tsunami,Typhoon,Volcano
loc_full,,,,,,,,,,,,,,,,,,,,,
"Abbeville County, South Carolina",2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,...,NaN,1.0,2.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
"Acadia Parish, Louisiana",2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,1.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Accomack County, Virginia",2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,...,NaN,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
"Ada County, Idaho",2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Adair County, Iowa",2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,2.0,6.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
final_df.to_csv('cols_disaster_stats.csv')